@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Oswald:200,400|Playfair+Display:400,400i');

$bold: 'Oswald', sans-serif;
$abril: 'Abril Fatface', serif;
$serif: 'Playfair Display', serif;
$white: #040404 ;
$main: #3f20df ;
$dark: #ffffff ;
$ease-slow: all .4s ease-out;

a {
    text-decoration: none;
    color: $main;

    &:hover {
        background: $main;
        color: $dark;
        transition: all 800ms;
    }
}

.sticky {
    position: fixed;
    z-index: 10;
}

.navbar--container {
    background: $white;
    height: auto;
    width: 50px;
    box-shadow: 2px 2px 36px #4020e1;
    right: 3%;
    top: 15px;
}

.navbar--icon {
    margin-top: 5px;
    margin-left: 5%;
    font-size: 3em;

    &:hover {
        color: $main;
        cursor: pointer;
    }
}

.navbar--title {
    margin-left: -35%;
    margin-top: -15px;

    h4 {
        writing-mode: vertical-rl;
        font-family: $bold;
        letter-spacing: .34em;
        text-transform: uppercase;
        font-size: 0.9em;
        color: #3f20e0;
        text-shadow: 2px 3px 10px;
    }
}

//navigation open
.nav--open {
    height: auto;
    width: 300px;
    background: $white;
    transition: $ease-slow;
    opacity: 1;
    box-shadow: 2px 2px 36px #4020e1;
}

.nav--open-icon {
    text-align: right;
    padding: 15px;

    i {
        font-size: 1.8em;
        color: $main;

        &:hover {
            color: $dark;
            cursor: pointer;
        }
    }
}

.nav--open-title {
    font-family: Titillium Web;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
}

.nav--open-menu {
    height: fit-content;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;

    a {
        font-size: 1.5em;
        font-weight: 100;
        padding: 15px 0;
        font-family: Heebo;
        text-shadow: 1px 2px 10px;
    }
}

.close {
    transform: translateX(-300px);
    transition: $ease-slow;
    opacity: 0;
}